<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>
<body>

    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
        <select name="colour" method="GET" action="/">
        <option value="Toplayer" SELECTED>Toplayer</option>"
        <option value="Bottomlayer" SELECTED>Bottomlayer</option>"
        </select>
      <input type=file name=file>
  <button type="submit" onclick="alert('You pressed the button!')">Print</button>
      <input type=submit value=Upload>
    <label for="vorname">Vorname</label>
  <input id="vorname">
    </form>

</body>
</html>